body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6b3;
}

header {
    background-color: #ff9933; 
    color: white;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #cc6600; 
}


nav {
    background-color: #ffcc66; 
    color: #663300; 
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #663300;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px; 
    margin: 0 10px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
main h1, main h2 {
    color: #ff9933; 
}

iframe {
    margin: 20px 0;
    width: 1000px;
    height: 800px;
}

footer {
    background-color: #ff9933;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
