/* Estilos generales */
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6b3;
}
/* Estilos del encabezado */
header {
    background-color: #ff9933;
    color: hsl(40, 95%, 63%);
    padding: 20px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
/* Estilos de la barra de navegación */
nav {
    background-color: #ffcc66; /* Amarillo */
    color: #663300; /* Marrón oscuro */
    padding: 10px 0;
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
/* Estilos del pie de página */
footer {
    background-color: #ff9933; /* Naranja */
    color: white;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Estilos del contenido */
#contenido  {
    padding: 103px;
    border-left: 160px solid rgb(204, 198, 198);
    border-right: 160px solid rgb(204, 198, 198);
}
aside {
    padding: 20px;
    background-color: #f0f0f0;
}

.large-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.large-image {
    max-width: 10%;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 400px) {
    .large-image {
        max-width: 100%;
    }
}
.box{ background-color: #ff9933; }