body{background-color: lch(from color l c h);font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6b3;
}
header nav{background-color: #ff9933;
    color: hsl(40, 95%, 63%);
padding: 20px;
font-size: 20px;
}
 header nav a{text-decoration: none;
    background-color: #ffcc66; /* Amarillo */
    color: #663300; 
    margin-right: 8px;
    
}
 header nav a:hover{
    background-color: aliceblue;
    padding: 20px;
    padding-right: 3px;
    padding-left: 3px;
    margin: 1px;
    transition: background-color 0.5s ease;


}
main{
    background-color: rgb(248, 244, 239);
    height: 75vh;
    padding: 20px;
}

footer {
    background-color: #ff9933; /* Naranja */
    color: white;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.box {
    border: 1px solid #f7f58a;
    padding: 10px;
    margin-bottom: 20px;
}

.video {
    display: flex;
    align-items: center;
}

.video img {
    width: 100px;
    margin-right: 10px;
}

.box ul {
    list-style: none;
    padding-left: 0;
}

.box ul li {
    margin-bottom: 10px;
}

.box ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.box ul li a:hover {
    color: #ff0000;
}